body{
    Font-size=62.5%;
    overflow: auto !important;
}
.registerWarp{
    margin: 0 auto;
    width: 95%;
}
.tableSize{
    width: 100%;
    text-align: center;
}
.inlinDisplay{
    display: inline-block;
}
td{
    width: 50%;
}
.giftListStyle{
    background-color: #fff;
    margin-top: 15px;
}
.round_photo{
    width:100%;
    height: auto;
    border:1px solid #ddddde;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius:50%;

}
.siteClass{

    color: rgb(128,128,128);
} 
.graph{  

    width: 0;     height: 0;     border-bottom: 38px solid rgb(70,140,200);  

    border-left: 41px solid transparent;

}  
.integration{
    border-bottom: 1px solid #efefef;
    width: 100%;
    color: #bbb;
    padding: 0.8em;
}
.inline{
    display: inline-block
}
.userTitleStyle{
    width: 23%;
}
.userMessage{
    color: black;
}